.section-servicos{
  background: $white;
  width: 70%;
  margin: 0 auto;
  transform: skewX(-20deg);
  .title {
    @include titulo($cor-background,$cor-background);
  }
  .servicos-card{
    @include cor-borda();
  }
}