.section-servicos{
  background: $white;
  @media (min-width: 576px) {
    width: 80%;
    margin: 0 auto;
    transform: skewX(-10deg);
  }
  .title {
    @include titulo($cor-background,$cor-background);
  }
  .servicos-card{
    @include cor-borda();
  }
}