.cabecalho{
  .logo-img{
    width: 104px;
  }
  .icon-burguer{
    font-size: 1.8rem;
  }
  @media (max-width: 991px){

    .navbar-nav{
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background: $white;
      width: 100%;
      z-index: 4000;
      flex-direction: row;
      justify-content: space-around;
      @media (max-width: 440px) {
        .image-replacement{
          @include text-hide;
        }
        .nav-link{
          font-size: 1.4rem;
        }
      }
    }
  }
}