.section-contato {
  color: $white;
  background: transparent;
  .title {
    @include titulo();
  }
  .subtitle{
    @media (min-width: 768px) and (max-width: 991px){
      font-size: 1.3rem;
    }
  }
  .card-body{
    @include cor-borda();
  }
  .valid-feedback, .invalid-feedback{
    background: rgba(255, 255, 255, 0.7);
    padding: 0 5px;
    border-radius: 0.25rem;
  }
  button{
    width: 35%;
  }
}